{% extends 'base.html' %}
{%  load staticfiles %}

<head>
{% block title %}All Routes{% endblock %}

{% block morehead %}
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />
<style>#map {position: absolute; top: 150px; right: 0px; left: 250px; bottom: 50px; width: 75%}
</style>
{%  endblock %}
</head>

<a href='#' id='geolocate' class='ui-button'>Find me</a>
{% block content %}

<center><h1>All Routes</h1></center>
<div class="row clearfix">
    <div class="col-md-12-column">
        <div id="map"></div>
        <a href='#' id='geolocate' class='ui-button'>Find me</a>
        <style>
        .ui-button {
  background:#3887BE;
  color:#FFF;
  display:block;
  position:absolute;
  bottom:5%;left:50%;
  width:160px;
  margin:-20px 0 0 -80px;
  z-index:100;
  text-align:center;
  padding:10px;
  border:1px solid rgba(0,0,0,0.4);
  border-radius:3px;
  }
  .ui-button:hover {
    background:#3074a4;
    color:#fff;
    }
    </style>
    </div>
</div>

{% endblock %}

{% block morescripts %}
    <script>

    var ouricon = {
            radius: 6,
            fillColor: "#0B0B61",
            color: "#0A0A2A",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.7
    };

    L.mapbox.accessToken = 'pk.eyJ1IjoiY3Jzd2ludCIsImEiOiJnNktHVVJRIn0.JIC8FCyClaATfA5WR5-JyA';
    var map = L.mapbox.map('map', 'crswint.jljp9epk');

    $.getJSON("{% url 'api:stops' %}", function (data) {
        L.geoJson(data, {style: ouricon}).addTo(map);
    });

    var myLayer = L.mapbox.featureLayer().addTo(map);
    if (!navigator.geolocation) {
    geolocate.innerHTML = 'Geolocation is not available';
} else {
    geolocate.onclick = function (e) {
        e.preventDefault();
        e.stopPropagation();
        map.locate();
    };
}

// Once we've got a position, zoom and center the map
// on it, and add a single marker.
map.on('locationfound', function(e) {
    map.fitBounds(e.bounds);

    myLayer.setGeoJSON({
        type: 'Feature',
        geometry: {
            type: 'Point',
            coordinates: [e.latlng.lng, e.latlng.lat]
        },
        properties: {
            'title': 'Here I am!',
            'marker-color': '#ff8888',
            'marker-symbol': 'star'
        }
    });

    // And hide the geolocation button
    geolocate.parentNode.removeChild(geolocate);
});

// If the user chooses not to allow their location
// to be shared, display an error message.
map.on('locationerror', function() {
    geolocate.innerHTML = 'Position could not be found';
});


    </script>
{% endblock %}